.edit-button {
    width: 24px;
    height: 24px;
    align-self: center;
    border: 1px solid #FFFFFF;
    background-color: #000000;
    padding: 7px;
    margin: 0;
    background-image: url('../../images/Edit_Button.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
  }
  
  .edit-button:hover {
    opacity: 0.6;
  }