.profile__avatar {
    width: 168.75px;
    height: 127.5px;
    grid-row: 1/3;
    align-self: center;
    margin: 0;
    padding: 0 3.75px 0 0;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 991px) {
    .profile__avatar {
      padding-left: 27px;
      margin-bottom: 22.25px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .profile__avatar {
      margin-bottom: 36px;
    }
  }